# Python virtual environment
.venv/

# API keys or secrets
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache
__pycache__/

# uv lock file (optional, remove if you want to share exact versions)
uv.lock

# doc.md
doc.md